/* Button visible in article */
.comments-modal-button {
    cursor: pointer;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comments-modal-button:hover > p {
    text-decoration: underline;
}

.comments-modal-button-stats {
    font-size: 16px;
    margin-left: 10px;
    color: rgba(117, 117, 117, 1)
}


/* Modal */
.comments-section-container {
    width: 420px;
    height: 100vh;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
}

.comments-section-content {
    padding-left: 30px;
    padding-right: 30px;
}

.comments-section-header {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.comments-section-close-button {
    font-size: 35px;
    color: rgba(117, 117, 117, .8);
    cursor: pointer;
}

.comments-section-comments-container {
    display: flex;
    flex-direction: column;
    min-height: 5vh;
    max-height: 75vh;
    overflow-y: scroll;
}

.comments-section-comments-container::-webkit-scrollbar {
  display: none;
}
