.comments-section-container {
    width: 420px;
    height: 100vh;
    /* text-align: center; */
}

.comments-section-content {
    padding: 10px;
}

.comments-modal-button {
    cursor: pointer;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comments-modal-button-stats {
    font-size: 16px;
    margin-left: 10px;
    color: rgba(117, 117, 117, 1)
}
