.nav-search__form{
    background-color: white;
}

.search-page__divs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-page__img{
    width: 600px;
    height: 180px;
    margin: 10px;
    cursor: pointer;
}

.search-product-container{
    margin: 30px;
    cursor: pointer;
}

.nav-search__input{
    border: none;
    background-color: white;
    padding-bottom: 10px;
}

.nav-search__submit{
    cursor: pointer;
    background: none;
    border: none;
}

/* Search Landing Page */

.search-landing__container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.centering-div{
    /* background-color: turquoise; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    border-bottom: 0.25px solid #0000008A;
}

.search-landing__author{
    color: green;
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
}

.search-landing__title{
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    text-align: left;
}

.search-landing__subtitle{
    margin: 0 auto;
    color: #0000008A;
    font-size: 24px;
    font-family: sans-serif;
    text-align: left;
}

.search-landing__image{
    margin: 0 auto;
    width: 450px;
    height: 300px;

}

.search-landing__content{
    margin: 0 auto;
    cursor: pointer;
    text-align: left;
    color: #0000008A;
}
