.profile-dropdown {
  position: absolute;
}

.nav-container{
  display: flex;
  justify-content: space-between;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
}

.login-modal-link, .signup-modal-link, .signup-link{
  margin-left: 20px;
}
