.profile-dropdown {
  position: absolute;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  background-color: #F4B800;
  border-bottom: 2px solid black;
}

.authenticated-links{
  display: flex;
}

.search-bar-div, .profile-button-div{
  margin-left: 30px;
}

.home-link{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 40px;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
}

.login-modal-link, .signup-modal-link, .signup-link{
  margin-left: 20px;
  height: 75px;
  font-family: 'Cormorant Garamond', serif;
}
